body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #fafafa;
  color: #333;
}

header {
  background: #111;
  padding: 1em;
}

header a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
}

main { padding: 2em; }
footer { text-align: center; padding: 2em 0; background: #eee; }
