html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 1);

  font-family: 'Poppins';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 12px;

  color: #403E3B;
}

.header {
  background: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.hero-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background:
    linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)),
    url('https://pixelz.cc/wp-content/uploads/2018/10/battlefield-4-soldier-helicopter-uhd-4k-wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 600px;
  margin-left: 100px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero span {
  color: #4f7cff;
}

.member-btn {
  padding: 12px 20px;
  border: 1px black solid;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.cta {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background: linear-gradient(90deg, #4f7cff, #6a5cff);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cta:hover {
  transform: scale(1.05);
}

.partners {
  padding: 40px 0;
  background: white;
}

.partners .container {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}

.news-section {
  padding: 100px 0;
  background:
    linear-gradient(to bottom, #f8fbff, #eef3f9);
  position: relative;
}

.games-strip {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}

.games-strip img {
  width: 267px;
  height: 400px;
  border-radius: 8px;
  flex-shrink: 0;
  transition: 0.3s;
}

.games-strip img:hover {
  transform: scale(1.05);
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #5f8cc7;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 60px;
  color: #777;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card::before {
  content: "";
  height: 4px;
  width: 100%;
  background: #5f8cc7;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image img {
  width: 100%;
  display: block;
}

.card-body {
  padding: 25px;
  text-align: center;
}

.card-body h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #5f8cc7;
}

.card-body p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.card-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #4f7cff, #6a5cff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}